@model IEnumerable<Subject.Models.Suggest>

@{
    ViewBag.Title = "Index";
}



<h2 class="mt-3 text-center">會員建議</h2>

<table class="table table-hover table-responsive-lg mt-3">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SuggestNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuggestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adm.AdmNumber)
        </th>

        <th>管理</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SuggestNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuggestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adm.AdmNumber)
            </td>

            <td>
                <button type="button" id="@item.SuggestNumber" class="btn btn-success btn-sm" data-toggle="modal" data-target="#showDetailModal" onclick="getDetailData(event)">
                    <i class="bi bi-journal-text" id="@item.SuggestNumber"></i>
                </button>
                <button type="button" id="@item.SuggestNumber" class="btn btn-primary btn-sm disabled" data-toggle="modal" data-target="#showEditModal" onclick="getEditData(event)">
                    <i class="bi bi-check-square" id="@item.SuggestNumber"></i>
                </button>

                @*@Html.ActionLink("Delete", "Delete", new { id = item.SuggestNumber })*@
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="showDetailModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>建議內容</h5></div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showEditModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>查看完畢請填上確認日期</h5></div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function getDetailData(evt) {
            $('#showDetailModal .modal-body').load("/Suggests/_Details/" + evt.target.id);
        }

        function getEditData(evt) {
            $('#showEditModal .modal-body').load("/Suggests/_Edit/" + evt.target.id);
        }
    </script>


}