@model Subject.Models.Shop

@{
    ViewBag.Title = "Create";
}


<style>
    .lines {
        border-left: dotted 1px;
    }
</style>



@using (Html.BeginForm("Create", "Shops", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-4 mt-3 mb-3">
            <div class="form-group">
                @Html.LabelFor(model => model.ShopName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShopName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ShopName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.District, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.District, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShopAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShopAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ShopAddress, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-4 mt-3 mb-3 lines">
            <div class="form-group">
                @Html.LabelFor(model => model.ShopTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShopTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ShopTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Web, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Web, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Web, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-4 mt-3 mb-3 lines row">
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Outlet, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        <div class="checkbox">
                            @*@Html.EditorFor(model => model.Outlet, new { htmlAttributes = new { @class = "form-control" } })*@
                            <div>
                                @Html.RadioButtonFor(model => model.Outlet, "", new { @id = "" })
                                @Html.Label("", "未知")
                            </div>
                            <div>
                                @Html.RadioButtonFor(model => model.Outlet, "true", new { @id = "true" })
                                @Html.Label("true", "Yes")
                            </div>
                            <div>
                                @Html.RadioButtonFor(model => model.Outlet, "false", new { @id = "false" })
                                @Html.Label("false", "No")
                            </div>
                            @Html.ValidationMessageFor(model => model.Outlet, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WIFI, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        <div class="checkbox">
                            @*@Html.EditorFor(model => model.WIFI, new { htmlAttributes = new { @class = "form-control" } })*@
                            <div>
                                @Html.RadioButtonFor(model => model.WIFI, "", new { @id = "" })
                                @Html.Label("", "未知")
                            </div>
                            <div>
                                @Html.RadioButtonFor(model => model.WIFI, "true", new { @id = "true" })
                                @Html.Label("true", "Yes")
                            </div>
                            <div>
                                @Html.RadioButtonFor(model => model.WIFI, "false", new { @id = "false" })
                                @Html.Label("false", "No")
                            </div>
                            @Html.ValidationMessageFor(model => model.WIFI, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.LimitedTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        <div class="checkbox">
                            @*@Html.EditorFor(model => model.LimitedTime, new { htmlAttributes = new { @class = "form-control" } })*@
                            <div>
                                @Html.RadioButtonFor(model => model.LimitedTime, "", new { @id = "" })
                                @Html.Label("", "未知")
                            </div>
                            <div>
                                @Html.RadioButtonFor(model => model.LimitedTime, "true", new { @id = "true" })
                                @Html.Label("true", "Yes")
                            </div>
                            <div>
                                @Html.RadioButtonFor(model => model.LimitedTime, "false", new { @id = "false" })
                                @Html.Label("false", "No")
                            </div>
                            @Html.ValidationMessageFor(model => model.LimitedTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsOrder, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        <div class="checkbox">
                            @*@Html.EditorFor(model => model.IsOrder, new { htmlAttributes = new { @class = "form-control" } })*@
                            <div>
                                @Html.RadioButtonFor(model => model.IsOrder, "", new { @id = "" })
                                @Html.Label("", "未知")
                            </div>
                            <div>
                                @Html.RadioButtonFor(model => model.IsOrder, "true", new { @id = "true" })
                                @Html.Label("true", "Yes")
                            </div>
                            <div>
                                @Html.RadioButtonFor(model => model.IsOrder, "false", new { @id = "false" })
                                @Html.Label("false", "No")
                            </div>
                            @Html.ValidationMessageFor(model => model.IsOrder, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            </div>
            @*<div class="form-group">
            @Html.LabelFor(model => model.AdmNumber, "AdmNumber", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AdmNumber", (IEnumerable<SelectListItem>)ViewBag.AdmNumber, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AdmNumber, "", new { @class = "text-danger" })
            </div>
        </div>*@

            @*<div class="form-group">
            @Html.LabelFor(model => model.Closed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Closed)
                    @Html.ValidationMessageFor(model => model.Closed, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@


            <div class="form-group text-center mt-3 mx-auto col-8">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="新增" class="btn btn-light" />
                </div>
            </div>
        </div>
}



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
