@model Subject.Models.Shop

@{
    ViewBag.Title = "Details";
}

<div class="card">
    <div class="card-header">
        <h5>
            @Html.DisplayFor(model => model.ShopName)
        </h5>
    </div>
    <div class="card-body">
        <div>
            @Html.DisplayNameFor(model => model.District): @Html.DisplayFor(model => model.District)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.ShopAddress): @Html.DisplayFor(model => model.ShopAddress)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.ShopTime): @Html.DisplayFor(model => model.ShopTime)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Phone): @Html.DisplayFor(model => model.Phone)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Web): @Html.DisplayFor(model => model.Web)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Outlet): @Html.DisplayFor(model => model.Outlet)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.WIFI): @Html.DisplayFor(model => model.WIFI)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.LimitedTime): @Html.DisplayFor(model => model.LimitedTime)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.IsOrder): @Html.DisplayFor(model => model.IsOrder)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.ShopDate): @Html.DisplayFor(model => model.ShopDate)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.UpdateDate): @Html.DisplayFor(model => model.UpdateDate)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Closed): @Html.DisplayFor(model => model.Closed)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Adm.AdmNumber): @Html.DisplayFor(model => model.Adm.AdmNumber)
        </div>
    </div>
</div>

@*<div class="alert alert-primary">
        @Html.Action("_DisplayDetail")
    </div>*@
