@model Subject.Models.Shop

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit","Shops",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal row">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ShopNumber)
    @Html.HiddenFor(model => model.AdmNumber)
    <div class="col-3">
        <div class="form-group">
            @Html.LabelFor(model => model.ShopName, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShopName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShopName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.District, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.District, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShopAddress, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShopAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShopAddress, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            @Html.LabelFor(model => model.ShopTime, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShopTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShopTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Web, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Web, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Web, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-4 row">
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Outlet, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="">
                    <div class="checkbox">
                        @*@Html.EditorFor(model => model.Outlet, new { htmlAttributes = new { @class = "form-control" } })*@
                        <div>
                            @Html.RadioButtonFor(model => model.Outlet, "", new { @id = "" })
                            @Html.Label("", "未設定")
                        </div>
                        <div>
                            @Html.RadioButtonFor(model => model.Outlet, "true", new { @id = "true" })
                            @Html.Label("true", "Yes")
                        </div>
                        <div>
                            @Html.RadioButtonFor(model => model.Outlet, "false", new { @id = "false" })
                            @Html.Label("false", "No")
                        </div>
                        @Html.ValidationMessageFor(model => model.Outlet, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WIFI, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="">
                    <div class="checkbox">
                        @*@Html.EditorFor(model => model.WIFI, new { htmlAttributes = new { @class = "form-control" } })*@
                        <div>
                            @Html.RadioButtonFor(model => model.WIFI, "", new { @id = "" })
                            @Html.Label("", "未設定")
                        </div>
                        <div>
                            @Html.RadioButtonFor(model => model.WIFI, "true", new { @id = "true" })
                            @Html.Label("true", "Yes")
                        </div>
                        <div>
                            @Html.RadioButtonFor(model => model.WIFI, "false", new { @id = "false" })
                            @Html.Label("false", "No")
                        </div>
                        @Html.ValidationMessageFor(model => model.WIFI, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.LimitedTime, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="">
                    <div class="checkbox">
                        @*@Html.EditorFor(model => model.LimitedTime, new { htmlAttributes = new { @class = "form-control" } })*@
                        <div>
                            @Html.RadioButtonFor(model => model.LimitedTime, "", new { @id = "" })
                            @Html.Label("", "未設定")
                        </div>
                        <div>
                            @Html.RadioButtonFor(model => model.LimitedTime, "true", new { @id = "true" })
                            @Html.Label("true", "Yes")
                        </div>
                        <div>
                            @Html.RadioButtonFor(model => model.LimitedTime, "false", new { @id = "false" })
                            @Html.Label("false", "No")
                        </div>
                        @Html.ValidationMessageFor(model => model.LimitedTime, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsOrder, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="">
                    <div class="checkbox">
                        @*@Html.EditorFor(model => model.IsOrder, new { htmlAttributes = new { @class = "form-control" } })*@
                        <div>
                            @Html.RadioButtonFor(model => model.IsOrder, "", new { @id = "" })
                            @Html.Label("", "未設定")
                        </div>
                        <div>
                            @Html.RadioButtonFor(model => model.IsOrder, "true", new { @id = "true" })
                            @Html.Label("true", "Yes")
                        </div>
                        <div>
                            @Html.RadioButtonFor(model => model.IsOrder, "false", new { @id = "false" })
                            @Html.Label("false", "No")
                        </div>
                        @Html.ValidationMessageFor(model => model.IsOrder, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            @Html.LabelFor(model => model.Closed, htmlAttributes: new { @class = "control-label col-md-8 " })
            <div class="">
                <div class="checkbox">
                    @*@Html.EditorFor(model => model.Closed, new { htmlAttributes = new { @class = "form-control" } })*@
                    <div>
                        @Html.RadioButtonFor(model => model.Closed, "", new { @id = "" })
                        @Html.Label("", "未設定")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.Closed, "true", new { @id = "true" })
                        @Html.Label("true", "Yes")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.Closed, "false", new { @id = "false" })
                        @Html.Label("false", "No")
                    </div>
                    @Html.ValidationMessageFor(model => model.Closed, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UpdateDate, htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="">
                @Html.EditorFor(model => model.UpdateDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.UpdateDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group mx-auto">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="更新" class="btn btn-light" />
        </div>
        <span class="text-danger">@ViewBag.Msg</span>
    </div>
</div>
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
