@model IEnumerable<Subject.Models.ShopPay>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Shop.ShopName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Pay.PayType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Shop.ShopName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Pay.PayType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
        </tr>

    }
</table>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
