@model IEnumerable<Subject.Models.Shop>

@{
    ViewBag.Title = "Index";
    var c = "";
}

@section css{
    <style>
        #AddShop{
            display:none;
        }

    </style>
    }

<h2 class="text-center mt-3">
    <span>店家資料管理</span>
    <button class="btn btn-primary mb-2" id="AddForm">新增店家</button>
</h2>


<div class="alert alert-primary" id="AddShop">
    @Html.Action("_Create")
</div>
<table class="table table-hover table-responsive-lg">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShopNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adm.AdmNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Closed)
            </th>
            <th>
                管理
            </th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShopNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adm.AdmNumber)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Closed)*@
            @*@(c=item.Closed == true? "Yes" : "No")*@
            @if (@item.Closed==true)
            {
                <span class="text-danger" data-toggle="tooltip" data-placement="bottom" title="已歇業"><i class="bi bi-check-lg"></i></span>
            }
            else
            {
        
            }

        </td>
        <td>
            <button type="button" id="@item.ShopNumber" class="btn btn-primary btn-sm disabled" data-toggle="modal" data-target="#showEditModal" onclick="getEditData(event)" title="編輯">
                <i class="bi bi-pencil-square" id="@item.ShopNumber"></i>
            </button>

            <button type="button" id="@item.ShopNumber" class="btn btn-success btn-sm" data-toggle="modal" data-target="#showDetailModal" onclick="getDetailData(event)" title="詳細資料">
                <i class="bi bi-journal-text" id="@item.ShopNumber"></i>
            </button>

            <button type="button" id="@item.ShopNumber" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#showPayModal" onclick="getPayData(event)" title="付款方式">
                <i class="bi bi-coin" id="@item.ShopNumber"></i>
            </button>

            <button type="button" id="@item.ShopNumber" class="btn btn-danger btn-sm disabled" data-toggle="modal" data-target="#showMenuModal" onclick="getMenuData(event)" title="菜單">
                <i class="bi bi-book" id="@item.ShopNumber"></i>
            </button>

            <button type="button" id="@item.ShopNumber" class="btn btn-secondary btn-sm disabled" data-toggle="modal" data-target="#showTagModal" onclick="getTagData(event)" title="標籤">
                <i class="bi bi-hash" id="@item.ShopNumber"></i>
            </button>

            <button type="button" id="@item.ShopNumber" class="btn btn-dark btn-sm disabled" data-toggle="modal" data-target="#showImageModal" onclick="getImageData(event)" title="照片">
                <i class="bi bi-card-image" id="@item.ShopNumber"></i>
            </button>

        </td>
    </tr>
}

</table>

<div class="modal fade" id="showDetailModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>詳細資料</h5></div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showEditModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>編輯資料</h5></div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showMenuModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>菜單</h5></div>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showTagModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>標籤</h5></div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showPayModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>付款方式</h5></div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showImageModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>照片</h5></div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#AddForm').click(function () {
            $('#AddShop').fadeToggle(800);
        });

        function getDetailData(evt) {
            $('#showDetailModal .modal-body').load("/Shops/_Details/" + evt.target.id);
        }

        function getEditData(evt) {
            $('#showEditModal .modal-body').load("/Shops/_Edit/" + evt.target.id);
        }

        function getMenuData(evt) {
            $('#showMenuModal .modal-body').load("/Shops/_MenuDetail/" + evt.target.id);
        }

        function getTagData(evt) {
            $('#showTagModal .modal-body').load("/Shops/_TagDetail/" + evt.target.id);
        }

        function getPayData(evt) {
            $('#showPayModal .modal-body').load("/Shops/_PayDetail/" + evt.target.id);
        }

        function getImageData(evt) {
            $('#showImageModal .modal-body').load("/Shops/_ImageDetail/" + evt.target.id);
        }
       
    </script>
    
    
    }


