@model Subject.Models.Adm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Adm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdmAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmPsaaword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmPsaaword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdmNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
