@model IEnumerable<Subject.Models.Adm>

@{
    ViewBag.Title = "Index";
}

@section css{
    <style>
        #AddAdm {
            display: none;
        }
    </style>
}

<h2>管理員資料</h2>
<p class="text-right">
    <button class="btn btn-primary" id="AddForm">新增管理員</button>
</p>
<div class="alert alert-info" id="AddAdm">
    @Html.Action("_Create")
</div>

@*<p>
        @Html.ActionLink("新增管理員", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            管理員編號
            @*@Html.DisplayNameFor(model => model.AdmNumber)*@
        </th>
        <th>
            帳號
            @*@Html.DisplayNameFor(model => model.AdmAccount)*@
        </th>
        <th>
            密碼
            @*@Html.DisplayNameFor(model => model.AdmPsaaword)*@
        </th>
        <th>
            管理
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdmNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmPsaaword)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.AdmNumber }) |
                @Html.ActionLink("刪除", "Delete", new { id = item.AdmNumber })
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $('#AddForm').click(function () {
            $('#AddAdm').fadeToggle(800);
        });
            //$('#AddForm').click(function () {
            //    $('AddAdm').show();
            //});
    </script>

}
