@model IEnumerable<Subject.Models.Adm>

@{
    ViewBag.Title = "Index";
}

@section css{
    <style>
        #AddAdm {
            display: none;
        }
    </style>
}

<h2 class="text-center mt-3">
    <span>管理員資料</span>
    <button class="btn btn-primary mb-2" id="AddForm">新增管理員</button>
</h2>

<div class="alert alert-primary" id="AddAdm">
    @Html.Action("_Create")
</div>

@*<p>
        @Html.ActionLink("新增管理員", "Create")
    </p>*@
<table class="table table-hover table-responsive-lg">
    <tr>
        <th>
            @*管理員編號*@
            @Html.DisplayNameFor(model => model.AdmNumber)
        </th>
        <th>
            @*帳號*@
            @Html.DisplayNameFor(model => model.AdmAccount)
        </th>
        @*<th>
            密碼
            @Html.DisplayNameFor(model => model.AdmPsaaword)
        </th>*@
        <th>
            管理
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdmNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmAccount)
            </td>
            @*<td>
                ***
                @Html.DisplayFor(modelItem => item.AdmPsaaword)
            </td>*@
            <td>
                @*@Html.ActionLink("編輯", "Edit", new { id = item.AdmNumber })*@
                <button type="button" id="@item.AdmNumber" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#showDeleteModal" onclick="getDeleteData(event)">
                    <i class="bi bi-trash3" id="@item.AdmNumber"></i>
                </button>
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="showDeleteModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>確定要刪除嗎?</h5></div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#AddForm').click(function () {
            $('#AddAdm').fadeToggle(800);
        });

        function getDeleteData(evt) {
            $('#showDeleteModal .modal-body').load("/Adms/_Delete/" + evt.target.id);
        }
            
    </script>

}
