@model IEnumerable<Subject.Models.ShopImage>

@{
    ViewBag.Title = "Index";
}

@section css{
    <style>
        #AddImage {
            display: none;
        }
    </style>
}

<h2>照片管理</h2>

<p class="text-right">
    <button class="btn btn-primary" id="AddForm">新增照片</button>
</p>
<div class="alert alert-primary" id="AddImage">
    @Html.Action("_Create")
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shop.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopImage1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageDate)
        </th>
        <th>
            管理
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.ShopName)
            </td>
            <td>
                <img src="@Url.Action("GetPhoto", new {id=item.ImageNumber})" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageDate)
            </td>
            <td>
                <button type="button" id="@item.ImageNumber" class="btn btn-primary disabled btn-sm" data-toggle="modal" data-target="#showDetailModal" onclick="getDetailData(event)">
                    <i class="bi bi-zoom-in" id="@item.ImageNumber"></i>
                </button>
                <button type="button" id="@item.ImageNumber" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#showDeleteModal" onclick="getDeleteData(event)">
                    <i class="bi bi-trash3" id="@item.ImageNumber"></i>
                </button>
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="showDeleteModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>確定要刪除嗎?</h5></div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showDetailModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>詳細資料</h5></div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#AddForm').click(function () {
            $('#AddImage').fadeToggle(800);
        });

        function getDeleteData(evt) {
            $('#showDeleteModal .modal-body').load("/ShopImages/_Delete/" + evt.target.id);
        }

        function getDetailData(evt) {
            $('#showDetailModal .modal-body').load("/ShopImages/_Details/" + evt.target.id);
        }

    </script>


}
