@model Subject.Models.Users

@{
    ViewBag.Title = "Details";
    var c = "";
}

<div class="card">
    <div class="card-header">
        <h4>
            @Html.DisplayFor(model => model.UserName)
        </h4>
    </div>
    <div class="card-body row">
        <div class="col-8">
            
            <div>
                @Html.DisplayNameFor(model => model.UserAccount): @Html.DisplayFor(model => model.UserAccount)
            </div>

            <div>
                @Html.DisplayNameFor(model => model.UserPassword): ***@*@Html.DisplayFor(model => model.UserPassword)*@
            </div>

            <div>
                @Html.DisplayNameFor(model => model.Sex):
                @(c=Model.Sex == true? "男" : "女")
            </div>

            <div>
                @Html.DisplayNameFor(model => model.Birthday): @Html.DisplayFor(model => model.Birthday)
            </div>

            <div>
                @Html.DisplayNameFor(model => model.Age): @Html.DisplayFor(model => model.Age)
            </div>

        </div>

        <div class="col-4">
            <div>
                @if (Model.UserPhoto == null)
                {
                    <i class="bi bi-emoji-smile" style="font-size:5rem"></i>
                }
                else
                {
                    <img src="@Url.Action("GetPhoto", new {id=Model.UserNumber})" width="100" />
                }

            </div>
        </div>
    </div>
</div>

