@model IEnumerable<Subject.Models.Users>

@{
    ViewBag.Title = "用戶資料";
}

@section css{
    <style>
        .border {
            border-radius: 50%;
        }
    </style>
}

<h2 class="mt-3 text-center">會員資料</h2>

<table class="table table-hover table-responsive-lg mt-3">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blockade)
        </th>
        <th>
            管理
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.UserNumber)
            </td>
            <td class="w-25">
                @if (item.UserPhoto == null)
                {
                    <i class="bi bi-emoji-smile" style="font-size:4vw"></i>
                }
                else
                {
                    <div class="w-25">
                        <img src="@Url.Action("GetPhoto", new {id=item.UserNumber})" class="img-fluid border" />
                    </div>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDate)
            </td>
            <td class="text-center">
                @if (@item.Blockade)
                {
                    <span class="text-danger" data-toggle="tooltip" data-placement="bottom" title="已封鎖"><i class="bi bi-check-lg"></i></span>
                }
                else
                {

                }
            </td>


            <td>
                <button type="button" id="@item.UserNumber" class="btn btn-primary btn-sm disabled" data-toggle="modal" data-target="#showEditModal" onclick="getEditData(event)">
                    <i class="bi bi-pencil-square" id="@item.UserNumber"></i>
                </button>

                <button type="button" id="@item.UserNumber" class="btn btn-success btn-sm" data-toggle="modal" data-target="#showDetailModal" onclick="getDetailData(event)">
                    <i class="bi bi-person-vcard" id="@item.UserNumber"></i>
                </button>


            </td>
        </tr>
    }

</table>

<div class="modal fade" id="showDetailModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>詳細資料</h5></div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showEditModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>確定要封鎖此會員嗎 ?</h5></div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        function getDetailData(evt) {

            $('#showDetailModal .modal-body').load("/Users/_Details/" + evt.target.id);
        }

        function getEditData(evt) {

            $('#showEditModal .modal-body').load("/Users/_Edit/" + evt.target.id);
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>
}
