@model IEnumerable<Subject.Models.PostShopPay>

@{
    ViewBag.Title = "Index";
}

@section css{
    <style>
        #AddPay {
            display: none;
        }
    </style>
}

<h2>投稿店家付款方式</h2>

<p class="text-right">
    <button class="btn btn-primary" id="AddForm">新增付款方式</button>
</p>
<div class="alert alert-primary" id="AddPay">
    @Html.Action("_Create")
</div>

<table class="table table-responsive-lg">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostShop.PostName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pay.PayType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            管理
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostShop.PostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pay.PayType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <button type="button" id="@item.Number" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#showDeleteModal" onclick="getDeleteData(event)">
                    <i class="bi bi-trash3" id="@item.Number"></i>
                </button>
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="showDeleteModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>確定要刪除嗎?</h5></div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#AddForm').click(function () {
            $('#AddPay').fadeToggle(800);
        });

        function getDeleteData(evt) {
            $('#showDeleteModal .modal-body').load("/PostShopPays/_Delete/" + evt.target.id);
        }
    </script>


}