@model Subject.Models.PostShop

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("Edit", "PostShops", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PostNumber)

        <div class="form-group">
            @Html.LabelFor(model => model.PassDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PassDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.PassDate, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.AdmNumber, "AdmNumber", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AdmNumber", (IEnumerable<SelectListItem>)ViewBag.AdmNumber, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AdmNumber, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="更新" class="btn btn-light" />
            </div>
            <span class="text-danger">@ViewBag.Msg</span>
        </div>
    </div>
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
