@model Subject.Models.Shop

@{
    ViewBag.Title = "Details";
}

<div class="card">
    <div class="card-header">
        <span style="font-size:25px">
            <strong>@Html.DisplayFor(model => model.ShopName)</strong>
        </span>
        <span class="ml-3"><button class="btn btn-danger disabled"><i class="bi bi-heart-fill"></i> 收藏</button></span>
        <span><button class="btn btn-danger disabled"><i class="bi bi-pencil-fill"></i> 評分</button></span>
    </div>
    <div class="card-body row">
        <div class="col-8">
            <div>
                @Html.DisplayNameFor(model => model.ShopAddress): <span>高雄市</span>@Html.DisplayFor(model => model.District)@Html.DisplayFor(model => model.ShopAddress)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.ShopTime): @Html.DisplayFor(model => model.ShopTime)
            </div>

            <div>
                @Html.DisplayNameFor(model => model.Phone):
                @if (Model.Phone == null)
                {
                    <span class="text-black-50">無</span>
                }
                else
                {
                    <span>
                        @Html.DisplayFor(model => model.Phone)
                    </span>
                }

            </div>

            <div>
                @Html.DisplayNameFor(model => model.Web): <a href="@Html.DisplayFor(model => model.Web)">@Html.DisplayFor(model => model.Web)</a>
            </div>
        </div>
        <div class="col-4">
            <div>
                @Html.DisplayNameFor(model => model.Outlet):
                @if (Model.Outlet == true)
                {
                    <span>Yes</span>
                }
                else
                {
                    <span>No</span>
                }
            </div>
            <div>
                @Html.DisplayNameFor(model => model.WIFI):
                @if (Model.WIFI == true)
                {
                    <span>Yes</span>
                }
                else
                {
                    <span>No</span>
                }
            </div>
            <div>
                @Html.DisplayNameFor(model => model.LimitedTime):
                @if (Model.LimitedTime == true)
                {
                    <span>Yes</span>
                }
                else
                {
                    <span>No</span>
                }
            </div>
            <div>
                @Html.DisplayNameFor(model => model.IsOrder):
                @if (Model.IsOrder == true)
                {
                    <span>Yes</span>
                }
                else
                {
                    <span>No</span>
                }
            </div>
        </div>
    </div>
</div>

<hr />

<span style="font-size:20px"><strong>菜單</strong></span>
<a href="#">新增</a>
<div>
    @Html.Action("_MenuDetail")
</div>

<hr />

<span style="font-size:20px"><strong>標籤</strong></span>
<a href="#">新增</a>
<div>
    @Html.Action("_TagDetail")
</div>

<hr />

<span style="font-size:20px"><strong>付款方式</strong></span>
<a href="#">新增</a>
<div>
    @Html.Action("_PayDetail")
</div>

<hr />

<span style="font-size:20px"><strong>照片</strong></span>
<a href="#">新增</a>
<div class="text-center">
    @Html.Action("_ImageDetail")
</div>

