@model Subject.Models.Shop

@{
    ViewBag.Title = "Details";
    var c = "";
    var p = Model.Phone;
    var d = Model.District;
    var a = Model.ShopAddress;
}

<style>
    #addSave {
        vertical-align:top;
    }
</style>

<div class="card">
    <div class="card-header">
        <input id="SID" type="hidden" value="@Model.ShopNumber" />
        <span style="font-size:25px">
            <strong id="SName">@Html.DisplayFor(model => model.ShopName)</strong>
        </span>

        <span class="ml-3"><button class="bi bi-heart-fill btn btn-danger disabled" id="addSave"> 收藏</button></span>

        @*<span class="ml-3"><button class="btn btn-danger disabled addSave"><i class="bi bi-heart-fill"></i> 收藏</button></span>*@
        @*<span class="ml-1"><button class="btn btn-danger disabled"><i class="bi bi-pencil-fill"></i> 評分</button></span>*@
    </div>
    <div class="card-body row">
        <div class="col-8">
            <div>
                @Html.DisplayNameFor(model => model.ShopAddress):
                @(Model.District != null && Model.ShopAddress != null? "高雄市"+d+a:"無")
            </div>
            <div>
                @Html.DisplayNameFor(model => model.ShopTime): @Html.DisplayFor(model => model.ShopTime)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.Phone):
                @(c=Model.Phone == null? "無" : p)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.Web): <a href="@Html.DisplayFor(model => model.Web)">@Html.DisplayFor(model => model.Web)</a>  
            </div>
        </div>
        <div class="col-4">
            <div>
                @Html.DisplayNameFor(model => model.Outlet):
                @(c=Model.Outlet == true? "Yes":"No")
            </div>
            <div>
                @Html.DisplayNameFor(model => model.WIFI):
                @(c=Model.WIFI == true? "Yes":"No")
            </div>
            <div>
                @Html.DisplayNameFor(model => model.LimitedTime):
                @(c=Model.LimitedTime == true? "Yes":"No")
            </div>
            <div>
                @Html.DisplayNameFor(model => model.IsOrder):
                @(c=Model.IsOrder == true? "Yes":"No")
            </div>
        </div>
    </div>
</div>



<hr />
<span style="font-size:20px"><strong>付款方式</strong></span>
@Html.ActionLink("新增", "UserCreatePay", new { ShopNumber = ViewBag.ShopNumber })
<div>
    @Html.Action("_PayDetail")
</div>

<hr />
<span style="font-size:20px"><strong>標籤</strong></span>
@Html.ActionLink("新增", "UserCreateTag", new { ShopNumber = ViewBag.ShopNumber })
<div>
    @Html.Action("_TagDetail")
</div>

<hr />
<span style="font-size:20px"><strong>菜單</strong></span>
@Html.ActionLink("新增", "UserCreateMenu", new { ShopNumber = ViewBag.ShopNumber })
<div>
    @Html.Action("_MenuDetail")
</div>

<hr />
<span style="font-size:20px"><strong>照片</strong></span>
@Html.ActionLink("新增", "UserCreateImage", new { ShopNumber = ViewBag.ShopNumber })
<div class="mx-auto w-75">
    @Html.Action("_ImageDetail")
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    var t = document.getElementById("addSave");

    var save = [];

    if (localStorage.getItem("save")) {
        save = JSON.parse(localStorage.getItem("save"));
    }

    $('#addSave').click(function () {
    
        let shop = $(this).closest('.card');
        let newSID = shop.find('#SID').val();

        let foundItem = save.find(item => item.SID == newSID);
        if (foundItem === undefined) {
            setSave(shop);
        }
        else {
            removeSave(newSID);
        }
        console.log(save);
        localStorage.setItem("save", JSON.stringify(save));
    })
    Buttontoggle();

    

    function setSave(shop) {
        let newItem = {
            SID: shop.find('#SID').val(),
            SName: shop.find('#SName').text()
        }
        save.push(newItem);
    
        alert("已加入收藏");
        Buttontoggle();
    }


    //alert(save.indexOf(save.SID))
    function removeSave(SID) {
       
        for (var item of save) {
            if (item.SID == SID)
                save.splice(save.indexOf(item), 1);
        }
        
        alert("已取消收藏");
        Buttontoggle();
    }


  
    //alert($('#SID').val())
    function Buttontoggle() {
        for (var item of save) {
            console.log(item.SID == $('#SID').val())
            if (item.SID == $('#SID').val()) {
                t.innerText = " 取消收藏";
                break;
            }
            else {
                t.innerText = " 收藏";
            }
        }
        if (save.length == 0) {
            t.innerText = " 收藏";
        }

    }
    //Buttontoggle();
    

   
   

    
</script>



