@model Subject.Models.Shop

@{
    ViewBag.Title = "Details";
}

<div class="card">
    <div class="card-header">
        <h5>
            @Html.DisplayFor(model => model.ShopName)
        </h5>
    </div>
    <div class="card-body">
        <div>
            @Html.DisplayNameFor(model => model.District): @Html.DisplayFor(model => model.District)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.ShopAddress): @Html.DisplayFor(model => model.ShopAddress)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.ShopTime): @Html.DisplayFor(model => model.ShopTime)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Phone): @Html.DisplayFor(model => model.Phone)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Web): @Html.DisplayFor(model => model.Web)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Outlet): @Html.DisplayFor(model => model.Outlet)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.WIFI): @Html.DisplayFor(model => model.WIFI)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.LimitedTime): @Html.DisplayFor(model => model.LimitedTime)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.IsOrder): @Html.DisplayFor(model => model.IsOrder)
        </div>
    </div>
</div>

<span><strong>菜單</strong></span>
<a href="#">新增</a>
<div>
    @Html.Action("_MenuDetail")
</div>

<span><strong>標籤</strong></span>
<a href="#">新增</a>
<div class="alert alert-primary">
    @Html.Action("_TagDetail")
</div>

<span><strong>付款方式</strong></span>
<a href="#">新增</a>
<div class="alert alert-primary">
    @Html.Action("_PayDetail")
</div>

<span><strong>照片</strong></span>
<a href="#">新增</a>
<div class="alert alert-primary">
    @Html.Action("_ImageDetail")
</div>

