@model Subject.Models.Users

@{
    ViewBag.Title = "EditUserIndex";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EditUserPhoto", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UserNumber)
    @Html.HiddenFor(model => model.UserAccount)
    @Html.HiddenFor(model => model.UserPassword)
    @Html.HiddenFor(model => model.Sex)
    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.Birthday)

    <div class="form-group">
        @Html.LabelFor(model => model.UserPhoto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" id="upload" name="upload" />
            @Html.ValidationMessageFor(model => model.UserPhoto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="保存" class="btn btn-light" />
        </div>
    </div>
</div>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
