@model Subject.Models.PostShop

@{
    ViewBag.Title = "MyPostShopDetail";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var c = "";
}

<div class="card">
    <div class="card-body">
        <div>
            @Html.DisplayNameFor(model => model.PostName): @Html.DisplayFor(model => model.PostName)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.PostDistrict): @Html.DisplayFor(model => model.PostDistrict)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.PostAdress): @Html.DisplayFor(model => model.PostAdress)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.PostTime): @Html.DisplayFor(model => model.PostTime)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.PostPhone): @Html.DisplayFor(model => model.PostPhone)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.PostWeb): @Html.DisplayFor(model => model.PostWeb)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.PostOutlet): @(c = Model.PostOutlet == null ? "未知" : c=Model.PostOutlet == true? "Yes":"No")
        </div>
        <div>
            @Html.DisplayNameFor(model => model.PostWifi): @(c = Model.PostWifi == null ? "未知" : c=Model.PostWifi == true? "Yes":"No")
        </div>
        <div>
            @Html.DisplayNameFor(model => model.PostLimitedTime): @(c = Model.PostLimitedTime == null ? "未知" : c=Model.PostLimitedTime == true? "Yes":"No")
        </div>
        <div>
            @Html.DisplayNameFor(model => model.PostOrder): @(c = Model.PostOrder == null ? "未知" : c=Model.PostOrder == true? "Yes":"No")
        </div>
        <div>
            @Html.DisplayNameFor(model => model.PostDate): @Html.DisplayFor(model => model.PostDate)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.PassDate): @Html.DisplayFor(model => model.PassDate)
        </div>
    </div>
</div>