@model IEnumerable<Subject.Models.Shop>
@{
    ViewBag.Title = "咖啡廳清單";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <style>
        .table-hover tbody tr:hover {
            color: #212529;
            background-color: rgba(0, 0, 0, 0.075);
            cursor: pointer;
        }
    </style>

}

<h2 class="mt-3">咖啡廳清單</h2>


<table class="table table-hover mt-3 table-responsive-lg">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Outlet)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.WIFI)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.LimitedTime)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.IsOrder)
            </th>

        </tr>


    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.ShopNumber" data-toggle="modal" data-target="#showDetailModal" onclick="getDetailData(event)" title="點我看更多">
                <td id="@item.ShopNumber">
                    @Html.DisplayFor(modelItem => item.ShopName)
                </td>
                <td id="@item.ShopNumber">
                    @Html.DisplayFor(modelItem => item.District)
                </td>
                <td id="@item.ShopNumber" class="text-center">
                    @if (@item.Outlet == true)
                    {
                        <span id="@item.ShopNumber">Yes</span>
                    }
                    else
                    {
                        <span id="@item.ShopNumber">No</span>
                    }
                </td>
                <td id="@item.ShopNumber" class="text-center">
                    @if (@item.WIFI == true)
                    {
                        <span id="@item.ShopNumber">Yes</span>
                    }
                    else
                    {
                        <span id="@item.ShopNumber">No</span>
                    }
                </td>
                <td id="@item.ShopNumber" class="text-center">
                    @if (@item.LimitedTime == true)
                    {
                        <span id="@item.ShopNumber">Yes</span>
                    }
                    else
                    {
                        <span id="@item.ShopNumber">No</span>
                    }
                </td>
                <td id="@item.ShopNumber" class="text-center">
                    @if (@item.IsOrder == true)
                    {
                        <span id="@item.ShopNumber">Yes</span>
                    }
                    else
                    {
                        <span id="@item.ShopNumber">No</span>
                    }
                </td>
            </tr>


        }
    </tbody>

</table>

<div class="modal fade" id="showDetailModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @*<div class="modal-header">
                    <h5 class="text-dark mt-2 ml-2"></h5>
                </div>*@
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <div class="mt-5">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        function getDetailData(evt) {
            $('#showDetailModal .modal-body>div').load("/Home/_Details/" + evt.target.id);
        }
    </script>


}



