@model Subject.ViewModels.VMLogin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_User_Login.cshtml";
}

@section css{
    <style>
        .btnLogin{
            font-size:14px;
        }
        .btn-block {
            width: 57%;
        }
    </style>
    }

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal border col-4 mx-auto mt-5 mb-5">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group mt-4 row">
        @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-4 p-2 text-right" })
        @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control col-5" } })
        @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger mt-1 ml-1" })
    </div>

    <div class="form-group mt-3 row">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-4 p-2 text-right" })
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-5" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger mt-1 ml-1" })
    </div>


    <div class="form-group text-center">
        <div class="text-danger">@ViewBag.ErrMsg</div>
        <button type="submit" class="mx-auto btn btn-dark text-white btn-block btnLogin">
            登入
            <i class="bi bi-box-arrow-in-right"></i>
        </button>
    </div>

    <div class="text-center mb-3">
        <a href="@Url.Action("SignUp","Home")">還不是會員 ? 點我註冊</a>
    </div>
    <div class="text-center mb-3">
        <a href="@Url.Action("Login","Adms")">後台系統登入</a>
    </div>
</div>

}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
