@model Subject.Models.Users

@{
    ViewBag.Title = "UserDashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>個人資料</h2>*@

@if (Session["user"] != null)
{
    <div class="row mt-3">
        <div class="col-1 mr-3">
            @if (Session["UserPhoto"] == null)
            {
                <i class="bi bi-emoji-smile" style="font-size:5rem"></i>
            }
            else
            {
                <img src="@Url.Action("GetUserPhoto", new {id=Session["UserNumber"]})" width="100" />
                @*@Session["UserPhoto"]*@
                @*@Html.DisplayFor(model => model.UserPhoto)*@
            }
        </div>
        <div class="col-3">
            <div>用戶名稱 : @Session["UserName"]</div>
            <div>性別 : @Session["Sex"]</div>
            <div>生日 :  @Session["Birthday"]</div>
            <div>年齡 :  @Session["Age"]</div>
        </div>
    </div>
}

