@model Subject.Models.Users

@{
    ViewBag.Title = "個人資料";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var c = "";
}


<div class="card mb-3 mt-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-5">
            <img src="@Url.Action("GetUserPhoto", new {id=Model.UserNumber})" class="w-100" />
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(model => model.UserName)</h5>
                <p class="card-text">
                    <div>@Html.DisplayNameFor(model => model.UserAccount): @Html.DisplayFor(model => model.UserAccount)</div>
                    <div>@Html.DisplayNameFor(model => model.Sex): @(c=Model.Sex == true? "男" : "女")</div>
                    <div>@Html.DisplayNameFor(model => model.Birthday): @Html.DisplayFor(model => model.Birthday)</div>
                    <div>@Html.DisplayNameFor(model => model.Age): @Html.DisplayFor(model => model.Age)</div>
                </p>
                @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
            </div>
        </div>
    </div>
</div>




<!--<table class="table table-responsive-lg">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blockade)
            </th>
        </tr>
    </thead>


    <tr>
        <td>
            @Html.DisplayFor(model => model.UserAccount)
        </td>
        <td>
            @Html.DisplayFor(model => model.UserPassword)
        </td>
        <td>
            @Html.DisplayFor(model => model.UserName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Sex)
        </td>
        <td>
            @Html.DisplayFor(model => model.UserPhoto)
        </td>
        <td>
            @Html.DisplayFor(model => model.Birthday)
        </td>
        <td>
            @Html.DisplayFor(model => model.Age)
        </td>
        <td>
            @Html.DisplayFor(model => model.UserDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.Blockade)
        </td>-->
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserNumber })
        </td>*@
    <!--</tr>


</table>-->
