@model Subject.Models.ShopTag

@{
    ViewBag.Title = "新增" + Session["TitleSN"] + "的標籤";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sn = Request.QueryString["ShopNumber"];
}

@section css{
    <style>
        #ShopNumber {
            appearance: none;
            font-size: 20px;
        }

        #suggestTitle {
            color: #808080;
            font-size: 20px;
        }

        .title {
            background-color: #f8f9fa;
        }
    </style>

}

<div class="mt-2">
    <span class=""><a href="@Url.Action("Index")">首頁 </a></span>
    <i class="bi bi-chevron-right d-inline-flex" id="right"></i>
    <span>新增標籤</span>
</div>

<div class="mt-2 text-center alert title col-5 mx-auto">
    <span id="suggestTitle">新增標籤<i class="bi bi-hash"></i></span>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal col-5 mx-auto border pt-2 pb-3">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
            @Html.LabelFor(model => model.UserNumber, "UserNumber", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserNumber", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserNumber, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group mt-3">
        @*@Html.LabelFor(model => model.ShopNumber, "ShopNumber", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="">
            <div class="col-8 alert-primary text-center mx-auto mb-2" style="border-radius:5px;">店家名稱</div>
            @*@Html.DropDownList("ShopNumber", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ShopNumber, "", new { @class = "text-danger" })*@

            <select id="ShopNumber" name="ShopNumber" class="form-control bg-white border-white mx-auto text-center" disabled>
                @foreach (var item in ViewBag.Shop)
                {
                    <option value="@item.ShopNumber" @(item.ShopNumber.ToString() == sn ? "selected" : "")>@item.ShopName</option>
                }
            </select>
        </div>
    </div>
    <hr />

    <div class="form-group text-center">
        @Html.LabelFor(model => model.Tag, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-10 mx-auto">
            @Html.EditorFor(model => model.Tag, new { htmlAttributes = new { @class = "form-control mx-auto" } })
            @Html.ValidationMessageFor(model => model.Tag, "", new { @class = "text-danger" })
            <span class="text-danger">@ViewBag.TagCheck</span>
        </div>
    </div>

</div>
    <div class="form-group text-center mt-3">
        <div class="col-md-offset-2 col-md-10 mx-auto">
            <input type="submit" value="送出" class="btn btn-light btn-block mx-auto" id="submit" />
        </div>
    </div>
}



<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@section scripts{
    <script>
        $('#submit').click(function () {
            $("#ShopNumber").removeAttr("disabled");
        });
    </script>
}
