@model Subject.Models.Users

@{
    ViewBag.Title = "UserIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blockade)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.UserAccount)
        </td>
        <td>
            @Html.DisplayFor(model => model.UserPassword)
        </td>
        <td>
            @Html.DisplayFor(model => model.UserName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Sex)
        </td>
        <td>
            @Html.DisplayFor(model => model.UserPhoto)
        </td>
        <td>
            @Html.DisplayFor(model => model.Birthday)
        </td>
        <td>
            @Html.DisplayFor(model => model.Age)
        </td>
        <td>
            @Html.DisplayFor(model => model.UserDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.Blockade)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserNumber })
        </td>*@
    </tr>


</table>
