@model Subject.Models.Users

@{
    ViewBag.Title = "會員中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var c = "";
}

@section css{
    <style>
        .card {
            font-size: 16px;
        }

        #card-title {
            font-size: 20px;
        }

        .border {
            border-radius: 50%;
        }

        .profile {
            background-color: #f8f9fa;
            color: #808080;
            font-size: 20px;
        }
    </style>

}


<div class="row">
    <div class="col-3">
        <h4 class="text-center mt-2 alert profile"><i class="bi bi-person"></i> 個人資料</h4>
        <div class="card mb-3 mt-1">

            <div class="w-75 mx-auto">
                @if (Model.UserPhoto == null)
                {
                    <div class="text-center">
                        <i class="bi bi-emoji-smile" style="font-size:8vw"></i>
                    </div>
                }
                else
                {
                    <div class="w-100 mx-auto mt-3">
                        <img src="@Url.Action("GetUserPhoto", new {id=Model.UserNumber})" class="img-fluid border" />
                    </div>
                }
            </div>
            @*<div>@Html.ActionLink("編輯照片","EditUserPhoto")</div>*@
            <button type="button" id="@Model.UserNumber" class="btn btn-primary disabled mt-2 w-75 mx-auto" data-toggle="modal" data-target="#showEditModal" onclick="getEditData(event)" title="編輯照片">
                <div style="font-size:14px;"><i class="bi bi-pencil-square" id="@Model.UserNumber"></i> 編輯照片</div>
            </button>
            <div class="card-body ml-3">
                <div class="card-title" id="card-title">@Html.DisplayFor(model => model.UserName)</div>
                <p class="card-text">
                    <div>@Html.DisplayNameFor(model => model.UserAccount): @Html.DisplayFor(model => model.UserAccount)</div>
                    <div>@Html.DisplayNameFor(model => model.Sex): @(c=Model.Sex == true? "男" : "女")</div>
                    <div>@Html.DisplayNameFor(model => model.Birthday): @Html.DisplayFor(model => model.Birthday)</div>
                    <div>@Html.DisplayNameFor(model => model.Age): @Html.DisplayFor(model => model.Age) 歲</div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-9 mt-2">
        <div>
            @Html.Action("_MySave")
        </div>
    </div>
    <div class="col-3 mt-2">
        <div>
            @Html.Action("_MyPostShopList")
        </div>
    </div>
</div>

<div class="modal fade" id="showEditModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>編輯照片</h5></div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        function getEditData(evt) {
            $('#showEditModal .modal-body').load("/Home/_EditUserPhoto/" + evt.target.id);
        }


    </script>


}


