<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Mystyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    @RenderSection("css", false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("跑咖Cafe", "AfterLogin", "Adms", new { area = "" }, new { @class = "navbar-brand" })
                <i class="bi bi-cup-fill text-light" style="font-size:20px"></i>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse ml-3" id="mainMenu">
                <ul class="navbar-nav mr-auto w-100">
                    <li class="nav-item dropdown">
                        @Html.ActionLink("用戶管理", "Index", "Users", new { area = "" }, new { @class = "nav-link dropdown-toggle", data_toggle = "dropdown", aria_expanded = "false" })
                        <div class="dropdown-menu">
                            @Html.ActionLink("主頁", "Index", "Users", new { area = "" }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("封鎖名單", "Block", "Users", new { area = "" }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        @Html.ActionLink("店家管理", "Index", "Shops", new { area = "" }, new { @class = "nav-link dropdown-toggle", data_toggle = "dropdown", aria_expanded = "false" })
                        <div class="dropdown-menu">
                            @Html.ActionLink("主頁", "Index", "Shops", new { area = "" }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("菜單管理", "Index", "ShopMenus", new { area = "" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("標籤管理", "Index", "ShopTags", new { area = "" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("照片管理", "Index", "ShopImages", new { area = "" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("付款方式管理", "Index", "ShopPays", new { area = "" }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("付款種類", "Index", "Pays", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item dropdown">
                        @Html.ActionLink("投稿專區", "Index", "PostShops", new { area = "" }, new { @class = "nav-link dropdown-toggle", data_toggle = "dropdown", aria_expanded = "false" })
                        <div class="dropdown-menu">
                            @Html.ActionLink("新店家", "Index", "PostShops", new { area = "" }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("建議", "Index", "Suggests", new { area = "" }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    @*<li class="nav-item">
                        @Html.ActionLink("建議", "Index", "Suggests", new { area = "" }, new { @class = "nav-link" })
                    </li>*@
                    <li class="dropdown ml-auto">
                        <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            管理員
                        </button>
                        <div class="dropdown-menu">
                            @Html.ActionLink("管理員資料", "Index", "Adms", new { area = "" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("使用者頁面", "Index", "Home", new { area = "" }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("登出", "Logout", "Adms", new { area = "" }, new { @class = "dropdown-item " })
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Cafe'</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>