@model IEnumerable<Subject.Models.ShopMenu>

@{
    ViewBag.Title = "Index";
}

@section css{
    <style>
        #AddMenu {
            display: none;
        }
    </style>
}

<h2>各店家菜單管理</h2>

<p class="text-right">
    <button class="btn btn-primary" id="AddForm">新增菜單</button>
</p>
<div class="alert alert-primary" id="AddMenu">
    @Html.Action("_Create")
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MenuNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shop.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.UserNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuDate)
        </th>
        <th>管理</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.ShopName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.UserNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuDate)
            </td>
            <td>
                <button type="button" id="@item.MenuNumber" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#showEditModal" onclick="getEditData(event)">
                    <i class="bi bi-pencil-square" id="@item.MenuNumber"></i>
                </button>
                <button type="button" id="@item.MenuNumber" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#showDeleteModal" onclick="getDeleteData(event)">
                    <i class="bi bi-trash3" id="@item.MenuNumber"></i>
                </button>
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="showEditModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>編輯</h5></div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showDeleteModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-dark mt-2 ml-2"><h5>確定要刪除?</h5></div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#AddForm').click(function () {
            $('#AddMenu').fadeToggle(800);
        });

        function getEditData(evt) {
            $('#showEditModal .modal-body').load("/ShopMenus/_Edit/" + evt.target.id);
        }

        function getDeleteData(evt) {
            $('#showDeleteModal .modal-body').load("/ShopMenus/_Delete/" + evt.target.id);
        }

    </script>


}
